*.iml
*.ipr
*.iws
.idea/
.classpath
.project
bin/
gen/
out/
target/
local.properties
drishti-app/tmp/
classes/
tmp/
project.properties
.DS_Store
.settings
build/
.gradle
opensrp-uganda-hpv/fabric.properties
opensrp-uganda-hpv/reports/
opensrp-uganda-hpv/jacoco.exec
/captures
.externalNativeBuild
*jacoco.exec

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
